.no-bottom-border{
	border: none! important;
}

.text-align-center{
	text-align: center! important;
}

.panel-bg-blue{
	/*background-color: #4582ec! important;*/
	background-color: white! important;
}

.panel-title-white{
	color: black! important;
	font-size: 15px! important;
}