@(message: String)

@main("Mandeep Raj Shrestha") {

   <div class="container">
	<div id="banner" class="page-header no-bottom-border">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-align-center">
            <h1>Mandeep Raj Shrestha</h1>
            <p class="lead">barebones designs ....</p>
          </div>
          <!--<div class="col-lg-4 col-md-5 col-sm-6">
          </div>-->

        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote>
                <p>Well umm, I am a self trained Java/PHP Developer, an Amateur Designer, Video Editor, a Gamer and fantasy novel geek. I guess thats about it.
					And this here is my WebPage, basically this site acts like my CV, you could call it my online resume of sorts</p>
                <small><cite title="Source Title">me about 2 and a half years ago</cite></small>
              </blockquote>
            <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div></div>
          </div>
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote class="pull-right">
                <p>And now its been a few years. Now I am a Senior Java Developer and Scala Developer and working as a Dept. Head for a Software Development Company. Right now I am more invested in creating web clients/services in Scala/Play</p>
                <small><cite title="Source Title">me right now</cite></small>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h2 id="type-blockquotes">Experience</h2>
            <div class="bs-component">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#techminds">TechMinds</a></li>
                <li><a data-toggle="tab" href="#techroadians">TechRoadians</a></li>
                <li><a data-toggle="tab" href="#bitscrafters">BitsCrafters</a></li>
                <li><a data-toggle="tab" href="#esign-3tier">ESignature / 3TierLogic</a></li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div id="techminds" class="tab-pane fade active in">
                  <p>Internship</p>
                </div>
                <div id="techroadians" class="tab-pane fade">
                  <p>PHP Developer</p>
                </div>
                <div id="bitscrafters" class="tab-pane fade">
                  <p>Java Trainee > Junior Software Developer</p>
                </div>
                <div id="esign-3tier" class="tab-pane fade">
                  <p>Senior Java Developer / Scala Developer > Team Lead > Head Of Department</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <h2 id="type-blockquotes">Skills</h2>
            	<div class="list-group col-lg-3">
				  <a href="#" class="list-group-item active">Languages / Frameworks</a>
				  <a href="#" class="list-group-item">Java</a>
				  <a href="#" class="list-group-item">JSP / Servlets</a>
				  <a href="#" class="list-group-item">Scala</a>
				  <a href="#" class="list-group-item">JavaScript</a>
				  <a href="#" class="list-group-item">PHP</a>
				  <a href="#" class="list-group-item">C/C++</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="#" class="list-group-item active">Web Technologies</a>
				  <a href="#" class="list-group-item">jQuery</a>
				  <a href="#" class="list-group-item">AJAX</a>
				  <a href="#" class="list-group-item">JSON / XML</a>
				  <a href="#" class="list-group-item">REST</a>
				  <a href="#" class="list-group-item">MVC</a>
				  <a href="#" class="list-group-item">Bootstrap CSS</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="#" class="list-group-item active">IDE / Tools</a>
				  <a href="#" class="list-group-item">Netbeans</a>
				  <a href="#" class="list-group-item">Eclipse</a>
				  <a href="#" class="list-group-item">PhotoShop</a>
				  <a href="#" class="list-group-item">InDesign</a>
				  <a href="#" class="list-group-item">Microsoft Pack</a>
				  <a href="#" class="list-group-item">Sony Vegas</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="#" class="list-group-item active">Tools Frameworks</a>
				  <a href="#" class="list-group-item">SVN</a>
				  <a href="#" class="list-group-item">Git</a>
				  <a href="#" class="list-group-item">Maven</a>
				  <a href="#" class="list-group-item">SBT</a>
				  <a href="#" class="list-group-item">Play</a>
				  <a href="#" class="list-group-item">CodeIgnitor</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="#" class="list-group-item active">Databases</a>
				  <a href="#" class="list-group-item">MySQL</a>
				  <a href="#" class="list-group-item">PostGreSQL</a>
				  <a href="#" class="list-group-item">Riak NoSQL</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="#" class="list-group-item active">System Administration</a>
				  <a href="#" class="list-group-item">Shell Scripting</a>
				  <a href="#" class="list-group-item">Server Deployment</a>
				  <a href="#" class="list-group-item">Amazon S3 / Instance Services</a>
				</div>
          </div>
        </div>
      </div>
   </div>

}
