@(message: String)

@main("Mandeep Raj Shrestha") {

   <div class="container">
	<div id="banner" class="page-header no-bottom-border">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-align-center">
            <h1>Mandeep Raj Shrestha</h1>
            <p class="lead">barebones designs ....</p>
          </div>
          <!--<div class="col-lg-4 col-md-5 col-sm-6">
          </div>-->

        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote>
                <p>Well umm, I am a self trained Java/PHP Developer, an Amateur Designer, Video Editor, a Gamer and fantasy novel geek. I guess thats about it.
					And this here is my WebPage, basically this site acts like my CV, you could call it my online resume of sorts</p>
                <small><cite title="Source Title">me about 2 and a half years ago</cite></small>
              </blockquote>
            <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div></div>
          </div>
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote class="pull-right">
                <p>And now its been a few years. Now I am a Senior Java Developer and Scala Developer and working as a Dept. Head for a Software Development Company. Right now I am more invested in creating web clients/services in Scala/Play</p>
                <small><cite title="Source Title">me right now</cite></small>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="nav-exp">Experience</h1>
            </div>
            <div class="col-lg-6">
            <div class="panel panel-info ">
			  <div class="panel-heading">
			    <h3 class="panel-title">TechMinds</h3>
			  </div>
			  <div class="panel-body">
			    Internship
			  </div>
			</div>
			</div>
			<div class="col-lg-6">
            <div class="panel panel-info ">
			  <div class="panel-heading">
			    <h3 class="panel-title">TechRoadians</h3>
			  </div>
			  <div class="panel-body">
			    PHP Developer
			  </div>
			</div>
			</div>
			<div class="col-lg-6">
            <div class="panel panel-info ">
			  <div class="panel-heading">
			    <h3 class="panel-title">BitsCrafters</h3>
			  </div>
			  <div class="panel-body">
			    Java Trainee > Junior Java Developer
			  </div>
			</div>
			</div>
			<div class="col-lg-6">
            <div class="panel panel-info ">
			  <div class="panel-heading">
			    <h3 class="panel-title">ESignature / 3TierLogic</h3>
			  </div>
			  <div class="panel-body">
			    Senior Java Developer / Scala Developer > Team Lead > Head of Department
			  </div>
			</div>
			</div>
            <!--<h4>TechMinds</h4>
            <p>Internship</p>
            <h4>TechRoadians</h4>
            <p>PHP Developer</p>
            <h4>BitsCrafters</h4>
            <p>Java Trainess > Junior Java Developer</p>
            <h4>ESignature / 3TierLogic</h4>
            <p>Senior Java Developer > Team Lead > Head of Department</p>-->
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
             <div class="page-header">
              <h1 id="nav-skill">Skills</h1>
            </div>
            	<div class="list-group col-lg-3">
				  <a href="javascript:void(0);" class="list-group-item active">Languages / Frameworks</a>
				  <a href="javascript:void(0);" class="list-group-item">Java</a>
				  <a href="javascript:void(0);" class="list-group-item">JSP / Servlets</a>
				  <a href="javascript:void(0);" class="list-group-item">Scala</a>
				  <a href="javascript:void(0);" class="list-group-item">JavaScript</a>
				  <a href="javascript:void(0);" class="list-group-item">PHP</a>
				  <a href="javascript:void(0);" class="list-group-item">C/C++</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="javascript:void(0);" class="list-group-item active">Web Technologies</a>
				  <a href="javascript:void(0);" class="list-group-item">jQuery</a>
				  <a href="javascript:void(0);" class="list-group-item">AJAX</a>
				  <a href="javascript:void(0);" class="list-group-item">JSON / XML</a>
				  <a href="javascript:void(0);" class="list-group-item">REST</a>
				  <a href="javascript:void(0);" class="list-group-item">MVC</a>
				  <a href="javascript:void(0);" class="list-group-item">Bootstrap CSS</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="javascript:void(0);" class="list-group-item active">IDE / Tools</a>
				  <a href="javascript:void(0);" class="list-group-item">Netbeans</a>
				  <a href="javascript:void(0);" class="list-group-item">Eclipse</a>
				  <a href="javascript:void(0);" class="list-group-item">PhotoShop</a>
				  <a href="javascript:void(0);" class="list-group-item">InDesign</a>
				  <a href="javascript:void(0);" class="list-group-item">Microsoft Pack</a>
				  <a href="javascript:void(0);" class="list-group-item">Sony Vegas</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="javascript:void(0);" class="list-group-item active">Tools Frameworks</a>
				  <a href="javascript:void(0);" class="list-group-item">SVN</a>
				  <a href="javascript:void(0);" class="list-group-item">Git</a>
				  <a href="javascript:void(0);" class="list-group-item">Maven</a>
				  <a href="javascript:void(0);" class="list-group-item">SBT</a>
				  <a href="javascript:void(0);" class="list-group-item">Play</a>
				  <a href="javascript:void(0);" class="list-group-item">CodeIgnitor</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="javascript:void(0);" class="list-group-item active">Databases</a>
				  <a href="javascript:void(0);" class="list-group-item">MySQL</a>
				  <a href="javascript:void(0);" class="list-group-item">PostGreSQL</a>
				  <a href="javascript:void(0);" class="list-group-item">Riak NoSQL</a>
				</div>
				<div class="list-group col-lg-3">
				  <a href="javascript:void(0);" class="list-group-item active">System Administration</a>
				  <a href="javascript:void(0);" class="list-group-item">Shell Scripting</a>
				  <a href="javascript:void(0);" class="list-group-item">Server Deployment</a>
				  <a href="javascript:void(0);" class="list-group-item">Amazon S3 / Instance Services</a>
				</div>
          </div>
        </div>
         <div class="row">
          <div class="col-lg-12">
             <div class="page-header">
              <h1 id="nav-proj">Projects</h1>
            </div>
            <div class="list-group">
			  <a href="javascript:void(0);" class="list-group-item" data-toggle="modal" data-target="#myRProjModal">
			    <h4 class="list-group-item-heading">Projects</h4>
			    <p class="list-group-item-text">Real World Projects</p>
			  </a>
			  <a href="javascript:void(0);" class="list-group-item" data-toggle="modal" data-target="#myAffModal">
			    <h4 class="list-group-item-heading">Affiliations</h4>
			    <p class="list-group-item-text">Group Affiliations</p>
			  </a>
			  <a href="javascript:void(0);" class="list-group-item" data-toggle="modal" data-target="#myCProjModal">
			    <h4 class="list-group-item-heading">College Research</h4>
			    <p class="list-group-item-text">Research projects from College</p>
			  </a>
			</div>
           </div>
         </div>
         <div class="row">
          <div class="col-lg-12">
             <div class="page-header">
              <h1 id="nav-proj">Education and Activities</h1>
            </div>
            <div class="list-group">
			  <a href="javascript:void(0);" class="list-group-item" data-toggle="modal" data-target="#myEduQModal">
			    <h4 class="list-group-item-heading">Education</h4>
			    <p class="list-group-item-text">Educational Qualifications</p>
			  </a>
			  <a href="javascript:void(0);" class="list-group-item" data-toggle="modal" data-target="#myMiscModal">
			    <h4 class="list-group-item-heading">Activities</h4>
			    <p class="list-group-item-text">Competitions / Skill Improvement Trainings</p>
			  </a>
			</div>
           </div>
         </div>
		<!-- Modal -->
		<div class="modal fade" id="myEduQModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Educational Qualifications</h4>
		      </div>
		      <div class="modal-body">
				<h3>Bachelors Degree,BIM, CGPA : 3.6</h3>
				<h4>St.Xavier's College</h4>
				<h4>1st Semester, GPA : 3.44</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>MGT 201</td>
				            <td>Principles of Management</td>
				            <td>3</td>
				            <td>3.5</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ENG 201</td>
				            <td>English Composition</td>
				            <td>3</td>
				            <td>3.3</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>MTH 201</td>
				            <td>Basic Mathematics</td>
				            <td>3</td>
				            <td>3.8</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 211</td>
				            <td>Computer Information Systems</td>
				            <td>3</td>
				            <td>3.8</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 212</td>
				            <td>Digital Logic</td>
				            <td>3</td>
				            <td>2.8</td>
				            <td>B</td>
				        </tr>
				    </tbody>
				</table>

				<h4>2nd Semester, GPA : 3.58</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>SOC 201</td>
				            <td>Sociology</td>
				            <td>3</td>
				            <td>3.7</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>MTH 202</td>
				            <td>Discrete Mathematics</td>
				            <td>3</td>
				            <td>3.7</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>MGT 204</td>
				            <td>Business Communication</td>
				            <td>3</td>
				            <td>3.5</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 213</td>
				            <td>Structured Programming</td>
				            <td>3</td>
				            <td>3.3</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>ITC 214</td>
				            <td>Data Communication and Computer Networks</td>
				            <td>3</td>
				            <td>3.7</td>
				            <td>A</td>
				        </tr>
				    </tbody>
				</table>

				<h4>3rd Semester, GPA : 3.56</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>STT 201</td>
				            <td>Statistics</td>
				            <td>3</td>
				            <td>3.6</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>PSY 201</td>
				            <td>Psychology</td>
				            <td>3</td>
				            <td>3.3</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>ITC 215</td>
				            <td>Data Structure and Algorithm</td>
				            <td>3</td>
				            <td>3.5</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 216</td>
				            <td>Object Oriented Programming</td>
				            <td>3</td>
				            <td>3.8</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 217</td>
				            <td>Microprocessor Programming</td>
				            <td>3</td>
				            <td>3.6</td>
				            <td>A</td>
				        </tr>
				    </tbody>
				</table>

				<h4>4th Semester, GPA : 3.6</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>ACC 201</td>
				            <td>Financial Accounting</td>
				            <td>3</td>
				            <td>3</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>ECO 201</td>
				            <td>Micro Economics</td>
				            <td>3</td>
				            <td>3.7</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 218</td>
				            <td>Database Management System</td>
				            <td>3</td>
				            <td>3.7</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 219</td>
				            <td>Web Technology</td>
				            <td>3</td>
				            <td>4</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 220</td>
				            <td>Computer Organization</td>
				            <td>3</td>
				            <td>3.6</td>
				            <td>A</td>
				        </tr>
				    </tbody>
				</table>

				<h4>5th Semester, GPA : 3.42</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>ACC 202</td>
				            <td>Cost and Management Accounting</td>
				            <td>3</td>
				            <td>3</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>ECO 202</td>
				            <td>Macro Economics</td>
				            <td>3</td>
				            <td>3.3</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>ITC 221</td>
				            <td>Computer Graphics</td>
				            <td>3</td>
				            <td>3.9</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 222</td>
				            <td>JAVA Programming</td>
				            <td>3</td>
				            <td>3.6</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 223</td>
				            <td>Artificial Intelligence</td>
				            <td>3</td>
				            <td>3.3</td>
				            <td>B</td>
				        </tr>
				    </tbody>
				</table>

				<h4>6th Semester, GPA : 3.7</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>FIN 201</td>
				            <td>Business Finance</td>
				            <td>3</td>
				            <td>4</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>MGT 205</td>
				            <td>Operation Management</td>
				            <td>3</td>
				            <td>3.4</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>MKT 201</td>
				            <td>Principles of Marketing</td>
				            <td>3</td>
				            <td>3.3</td>
				            <td>B</td>
				        </tr>
				        <tr>
				            <td>ITC 224</td>
				            <td>Client Server Computing</td>
				            <td>3</td>
				            <td>4</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 225</td>
				            <td>Software Engineering</td>
				            <td>3</td>
				            <td>3.8</td>
				            <td>A</td>
				        </tr>
				    </tbody>
				</table>

				<h4>7th Semester, GPA : 3.75</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>LOG 201</td>
				            <td>Critical Thinking and Decision Making</td>
				            <td>3</td>
				            <td>4</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>MGT 202</td>
				            <td>Human Resource and Management</td>
				            <td>3</td>
				            <td>3.5</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>MKT 203</td>
				            <td>Organization Relation</td>
				            <td>3</td>
				            <td>3.9</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 226</td>
				            <td>Management Information System</td>
				            <td>3</td>
				            <td>3.8</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 227</td>
				            <td>IT Entrepreneurship and Supply Chain Management</td>
				            <td>3</td>
				            <td>3.7</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 228</td>
				            <td>High Speed Network and Multimedia Programming</td>
				            <td>3</td>
				            <td>3.6</td>
				            <td>A</td>
				        </tr>
				    </tbody>
				</table>

				<h4>8th Semester, GPA : 3.73</h4>
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				        <tr>            
				            <th>Course Code</th>
				            <th>Course Title</th>
				            <th>Cr.Hrs</th>
				            <th>GPA</th>
				            <th>Grade</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>ITC 229</td>
				            <td>Computer Security and Cyber Law</td>
				            <td>3</td>
				            <td>3.6</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 230</td>
				            <td>Economics of Information and Communication</td>
				            <td>3</td>
				            <td>3.6</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 303</td>
				            <td>Computer Based Financial Engineering</td>
				            <td>3</td>
				            <td>3.9</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 309</td>
				            <td>Data Mining and Warehousing</td>
				            <td>3</td>
				            <td>3.5</td>
				            <td>A</td>
				        </tr>
				        <tr>
				            <td>ITC 250</td>
				            <td>Internship: Industrial Attachment Project</td>
				            <td>3</td>
				            <td>3.9</td>
				            <td>A</td>
				        </tr>        
				    </tbody>
				</table><br>
				<h3>10+2(Science), HSEB</h3>
				<h4>Percentage : 52.3%, Himalayan WhiteHouse College</h4><br>
				<h3>S.L.C-H.M.G(2006)</h3>
				<h4>Percentage : 72%, South Point Boarding High School</h4><br>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--Modal End -->

		<!-- Modal -->
		<div class="modal fade" id="myMiscModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Trainings and Competitions</h4>
		      </div>
		      <div class="modal-body">
				<div class="list-group">
				  <h2>Skill Improvements</h2>
				  <a href="javascript:void(0);" class="list-group-item">Participated in the ”Tech Track Talk” program organized by “Information Technology Council” in 11th Dec,2011 n St. Xavier’s College</a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in different blood donation programs, organized by UCRITS</a>
				  <a href="javascript:void(0);" class="list-group-item">Participated on Management seminars conducted by MBS 2010 batch, St. Xavier’s College</a>
				  <a href="javascript:void(0);" class="list-group-item">Linux Terminal Server Project Training, 24-24 October, 2009</a>
				  <a href="javascript:void(0);" class="list-group-item">Blogging Skill Workshop, June 5th 2011</a>
				  <a href="javascript:void(0);" class="list-group-item">Orientation Training on Microsoft MultiPoint SDK 1.1, December 12 2009</a>
				  <h2>Competitions</h2>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s COD Tournament in 2008-2011.(Defending Champion)</a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s C/S Tournament in 2008,2009.(Winner)</a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s Quake Arena Tournament in 2008(Second),2009(Winner)</a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s C/S Tournament in 2008,2009.(Winner)</a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s NFS Tournament in 2008(Second),2009(Winner)</a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s Cup Football Tournament in 2008.(Participation) </a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s Cup Cricket Tournament in 2009.(Winner) </a>
				  <a href="javascript:void(0);" class="list-group-item">Participated in Xavier’s Cup BasketBall Tournament in 2010.(Second) </a>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--Modal End -->
		<!-- Modal Projects -->
		<div class="modal fade" id="myRProjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Projects</h4>
		      </div>
		      <div class="modal-body">
		     	 <div>
					<h3>CSR</h3>
					<p>CSR is a project management application developed using Java Web/JSP. It was basically developed for the use of the organization (internship) itself. It covers most of the functionalities required by the organization like handling the projects details, and its contacts and also provides user level restrictions. The interesting features in the application are the automated Gantt chart generating modules. Though it’s still in its developmental phase it is still usable, as is being used by the organization at the time of speaking. It’s an application used only inside the firm, and wasn’t created as a product, for the time being.</p>
					<p>
					    <span class="label label-primary">JAVA/JSP</span>
					    <span class="label label-primary">HTML</span>
					    <span class="label label-primary">JavaScript</span>
					    <span class="label label-primary">jQuery</span>
					    <span class="label label-primary">CSS</span>
					    <span class="label label-primary">PostGreSQL</span>
					</p>
					</div>
				<div>
					<h3>Qology</h3>
					<p>Qology is a web solution for doctors and physicians where they can search about medical terms, post questions and get feedbacks, share their articles like in any Social Site and development forums</p>
					<span class="label label-primary">Java</span>
					<span class="label label-primary">HTML</span>
					<span class="label label-primary">JavaScript</span>
					<span class="label label-primary">jQuery</span>
					<span class="label label-primary">CSS</span>
					<span class="label label-primary">MySQL</span>
				</div>
				<div>
					<h3>Platform3</h3>
					<p>Right now I have been working more on creating web clients which communicates with the p3 web service</p>
					<span class="label label-primary">Scala / Play / Akka / Spray</span>
					<span class="label label-primary">Amazon S3 / Instances</span>
					<span class="label label-primary">HTML</span>
					<span class="label label-primary">JavaScript</span>
					<span class="label label-primary">jQuery</span>
					<span class="label label-primary">CSS</span>
					<span class="label label-primary">MySQL</span>
					<span class="label label-primary">Riak</span>
					<span class="label label-primary">PostGreSQL</span>
				</div>
		       </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--Modal Projects End -->
		<!-- Modal  Projects -->
		<div class="modal fade" id="myCProjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">College Research and Projects</h4>
		      </div>
		      <div class="modal-body">
				<div>
					<h3>SOITS</h3>
					<p>Well it used to be the HomePage of our college IT club, well it was the first website i created and is kind of static.</p>
					<p>
					<span class="label label-primary">HTML</span>
					<span class="label label-primary">JavaScript</span>
					<span class="label label-primary">jQuery</span>
					<span class="label label-primary">CSS</span>
					</p>
					<p>
					<a class="btn btn-success btn-sm" href="https://sourceforge.net/projects/soits/" target="_blank">Download</a>
					</p>
				</div>
				<div>
				<h3>eMarkets</h3>
					<p>eMarkets is a web portal which provides information 
					    about the various electronic devices namely mobile and handheld devices, chiefly mobile phones. 
					    Its main purpose is to let the user know about the upcoming and existing mobile phones from different 
					    brands more like a wiki, apart from these functionalities it allows the user to register to the site and 
					    post within the info about their own devices which they would prefer to sell or market. Thus, making eMarkets a kind of marketing-hub.</p>
					<p>
					    <span class="label label-primary">PHP</span>
					    <span class="label label-primary">HTML</span>
					    <span class="label label-primary">JavaScript</span>
					    <span class="label label-primary">jQuery</span>
					    <span class="label label-primary">CSS</span>
					    <span class="label label-primary">MySQL</span>
					</p>
					<p>
					    <a class="btn btn-info btn-sm" href="https://github.com/mandeep-raj-shrestha/emarkets" target="_blank">Fork on Github</a>
					</p>
				</div>
				<div>
					<h3>HMS</h3>
					<p>HMS is an application that provides all the room managing functionalities required to run a small scale hotel business. When we say all it mostly refers to the rooms booking system and its billing system. </p>
					<p>
					    <span class="label label-primary">PHP</span>
					    <span class="label label-primary">HTML</span>
					    <span class="label label-primary">JavaScript</span>
					    <span class="label label-primary">jQuery</span>
					    <span class="label label-primary">CSS</span>
					    <span class="label label-primary">MySQL</span>
					</p>
					<p>
					<a class="btn btn-info btn-sm" href="https://github.com/mandeep-raj-shrestha/hms" target="_blank">Fork on Github</a>
					    <a class="btn btn-warning btn-sm" href="http://oneblog.site50.net/" target="_blank">Live Demo</a>
					</p>
				</div>
				<div>
					<h3>MINT</h3>
					<p>TNMP is a News par Magazine website, it allows its visitors to subscribe to newsletters and magazines, and also has an online magazine viewer.</p>
					<p>
					<span class="label label-primary">PHP</span>
					<span class="label label-primary">HTML</span>
					<span class="label label-primary">JavaScript</span>
					<span class="label label-primary">jQuery</span>
					<span class="label label-primary">CSS</span>
					<span class="label label-primary">MySQL</span>
					</p>
					<p>
					<a class="btn btn-info btn-sm" href="https://github.com/mandeep-raj-shrestha/mint" target="_blank">Fork on Github</a>
					</p>
				</div>
				<div >
					<h3>OReader</h3>
					<p>OReader actually stands for Open Reader, it’s a documents management tool par an online pdf viewer. It’s a system more tuned for colleges and educational institutions as it has been created focusing their needs. In allows the tutors to upload the notes and reading materials on to the website so that the learners can view those reading materials online or if they choose, it lets them download those documents as well.</p>
					<p>
					<span class="label label-primary">PHP</span>
					<span class="label label-primary">FlexPaper</span>
					<span class="label label-primary">HTML</span>
					<span class="label label-primary">JavaScript</span>
					<span class="label label-primary">jQuery</span>
					<span class="label label-primary">CSS</span>
					<span class="label label-primary">MySQL</span>
					</p>
					<p>
					<a class="btn btn-success btn-sm" href="https://sourceforge.net/projects/oreader/" target="_blank">Download</a>
					</p>
				</div>
				<div>
					<h3>Pahuna</h3>
					<p>Pahuna, it’s more of a room reservation system, that covers some basic hotel based functionalities like billing requisites, in-house restaurant requisites and walk-in registrations. The room bookings are online based. The web application is being developed for a medium scale hotel business Hotel Lakestar, Pokhara. The modules and the system was designed and planned as according to requirement of the client. It’s still in its development phase.</p>
					<p>
					<span class="label label-primary">PHP(CI)</span>
					<span class="label label-primary">HTML</span>
					<span class="label label-primary">JavaScript</span>
					<span class="label label-primary">jQuery</span>
					<span class="label label-primary">CSS</span>
					<span class="label label-primary">MySQL</span>
					</p>
				</div>
				<div>
					<h3>iPlay</h3>
					<p>iPlay is a Java based music player for Symbian mobile phones. It plays most of the popular formats like mp3, wav, wma. It’s support playlist functionalities and provides all the functions as of any other music player from creation of playlist to shuffle playlists. Since its an open source application, we are trying to make it support free audio formats like ogg, midi, flac. </p>
					<p>
					    <span class="label label-primary">J2ME</span>
					    <span class="label label-primary">XML</span>
					</p>
					<p>
					    <a class="btn btn-info btn-sm" href="https://github.com/mandeep-raj-shrestha/iPlay" target="_blank">Fork on Github</a>
					</p>
				</div>
				<div>
					<h3>Inventory Management System</h3>
					<p>Inventory management system as the name itself suggests is an application that provides all the functionalities and tools required to manage the inventory of any small scale firm or industry. It provides functions like recording of the inventor levels, the price of individual levels and stock evaluation of the inventories.</p>
					<p>
					    <span class="label label-primary">C++</span>    
					</p>
				</div>
		       </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--Modal Projects End -->
		<!-- Modal  Projects -->
		<div class="modal fade" id="myAffModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Affiliations</h4>
		      </div>
		      <div class="modal-body">
				<div>
					<h3>Katha Hamro</h3>
					<p>Katha Hamro is a collection of unique and varied tales of ordinary people, common places and all the other things around us that we don’t tend to care much about but their voices hold the strong desires to be heard</p>
					<p>
					<span class="label label-primary">Video Editor</span>
					<span class="label label-primary">Screenplay</span>
					</p>
					<a class="btn btn-success btn-sm" href="http://kathahamro.com/" target="_blank">Homepage</a>
					<a class="btn btn-success btn-sm" href="http://www.youtube.com/user/KathaHamro?feature=watch" target="_blank">Channel</a>
				</div>
		       </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--Modal Projects End -->
   </div>

}
